Presentation/Connected Services/Service1_Reference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdministrativeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" type="xs:int" />
      <xs:element minOccurs="0" name="SecondLastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdministrativeDTO" nillable="true" type="tns:AdministrativeDTO" />
  <xs:complexType name="AdministrativeList">
    <xs:sequence>
      <xs:element minOccurs="0" name="lists" nillable="true" type="tns:ArrayOfAdministrativeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdministrativeList" nillable="true" type="tns:AdministrativeList" />
  <xs:complexType name="ArrayOfAdministrativeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdministrativeDTO" nillable="true" type="tns:AdministrativeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdministrativeDTO" nillable="true" type="tns:ArrayOfAdministrativeDTO" />
</xs:schema>