Presentation/Connected Services/Service3_Reference/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VehicleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleDTO" nillable="true" type="tns:VehicleDTO" />
  <xs:complexType name="VehicleList">
    <xs:sequence>
      <xs:element minOccurs="0" name="lists" nillable="true" type="tns:ArrayOfVehicleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleList" nillable="true" type="tns:VehicleList" />
  <xs:complexType name="ArrayOfVehicleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleDTO" nillable="true" type="tns:VehicleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleDTO" nillable="true" type="tns:ArrayOfVehicleDTO" />
</xs:schema>