Presentation/Connected Services/Service6_Reference/Service6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service6" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service6.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service6.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service6.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService6_GetService_TypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetService_TypeId" />
  </wsdl:message>
  <wsdl:message name="IService6_GetService_TypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetService_TypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService6_InsertService_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertService_Type" />
  </wsdl:message>
  <wsdl:message name="IService6_InsertService_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertService_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService6_DeleteService_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteService_Type" />
  </wsdl:message>
  <wsdl:message name="IService6_DeleteService_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteService_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService6_ModifyService_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyService_Type" />
  </wsdl:message>
  <wsdl:message name="IService6_ModifyService_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyService_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService6_GetAllService_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllService_Type" />
  </wsdl:message>
  <wsdl:message name="IService6_GetAllService_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllService_TypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService6">
    <wsdl:operation name="GetService_TypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService6/GetService_TypeId" message="tns:IService6_GetService_TypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService6/GetService_TypeIdResponse" message="tns:IService6_GetService_TypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertService_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService6/InsertService_Type" message="tns:IService6_InsertService_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService6/InsertService_TypeResponse" message="tns:IService6_InsertService_Type_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteService_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService6/DeleteService_Type" message="tns:IService6_DeleteService_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService6/DeleteService_TypeResponse" message="tns:IService6_DeleteService_Type_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyService_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService6/ModifyService_Type" message="tns:IService6_ModifyService_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService6/ModifyService_TypeResponse" message="tns:IService6_ModifyService_Type_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllService_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService6/GetAllService_Type" message="tns:IService6_GetAllService_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService6/GetAllService_TypeResponse" message="tns:IService6_GetAllService_Type_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService6" type="tns:IService6">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetService_TypeId">
      <soap:operation soapAction="http://tempuri.org/IService6/GetService_TypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertService_Type">
      <soap:operation soapAction="http://tempuri.org/IService6/InsertService_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService_Type">
      <soap:operation soapAction="http://tempuri.org/IService6/DeleteService_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyService_Type">
      <soap:operation soapAction="http://tempuri.org/IService6/ModifyService_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllService_Type">
      <soap:operation soapAction="http://tempuri.org/IService6/GetAllService_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service6">
    <wsdl:port name="BasicHttpBinding_IService6" binding="tns:BasicHttpBinding_IService6">
      <soap:address location="http://localhost:63800/Implementations/Service6.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>