Presentation/Connected Services/Service6_Reference/Service62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63800/Implementations/Service6.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationApp" />
  <xs:element name="GetService_TypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetService_TypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationApp" minOccurs="0" name="GetService_TypeIdResult" nillable="true" type="q1:Service_TypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertService_Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationApp" minOccurs="0" name="service" nillable="true" type="q2:Service_TypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertService_TypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService_Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService_TypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyService_Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationApp" minOccurs="0" name="service" nillable="true" type="q3:Service_TypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyService_TypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllService_Type">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllService_TypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationApp" minOccurs="0" name="GetAllService_TypeResult" nillable="true" type="q4:Service_TypeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>