Presentation/Connected Services/Service4_Reference/Service4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service4" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service4.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service4.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service4.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService4_GetVehicle_TypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicle_TypeId" />
  </wsdl:message>
  <wsdl:message name="IService4_GetVehicle_TypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicle_TypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_InsertVehicle_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVehicle_Type" />
  </wsdl:message>
  <wsdl:message name="IService4_InsertVehicle_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVehicle_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteVehicle_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVehicle_Type" />
  </wsdl:message>
  <wsdl:message name="IService4_DeleteVehicle_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVehicle_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_ModifyVehicle_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyVehicle_Type" />
  </wsdl:message>
  <wsdl:message name="IService4_ModifyVehicle_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyVehicle_TypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService4_GetAllVehicle_Type_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicle_Type" />
  </wsdl:message>
  <wsdl:message name="IService4_GetAllVehicle_Type_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicle_TypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService4">
    <wsdl:operation name="GetVehicle_TypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetVehicle_TypeId" message="tns:IService4_GetVehicle_TypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetVehicle_TypeIdResponse" message="tns:IService4_GetVehicle_TypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVehicle_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/InsertVehicle_Type" message="tns:IService4_InsertVehicle_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/InsertVehicle_TypeResponse" message="tns:IService4_InsertVehicle_Type_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/DeleteVehicle_Type" message="tns:IService4_DeleteVehicle_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/DeleteVehicle_TypeResponse" message="tns:IService4_DeleteVehicle_Type_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyVehicle_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/ModifyVehicle_Type" message="tns:IService4_ModifyVehicle_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/ModifyVehicle_TypeResponse" message="tns:IService4_ModifyVehicle_Type_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicle_Type">
      <wsdl:input wsaw:Action="http://tempuri.org/IService4/GetAllVehicle_Type" message="tns:IService4_GetAllVehicle_Type_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService4/GetAllVehicle_TypeResponse" message="tns:IService4_GetAllVehicle_Type_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService4" type="tns:IService4">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVehicle_TypeId">
      <soap:operation soapAction="http://tempuri.org/IService4/GetVehicle_TypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVehicle_Type">
      <soap:operation soapAction="http://tempuri.org/IService4/InsertVehicle_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVehicle_Type">
      <soap:operation soapAction="http://tempuri.org/IService4/DeleteVehicle_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyVehicle_Type">
      <soap:operation soapAction="http://tempuri.org/IService4/ModifyVehicle_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicle_Type">
      <soap:operation soapAction="http://tempuri.org/IService4/GetAllVehicle_Type" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service4">
    <wsdl:port name="BasicHttpBinding_IService4" binding="tns:BasicHttpBinding_IService4">
      <soap:address location="http://localhost:63800/Implementations/Service4.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>