Presentation/Connected Services/Service2_Reference/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_GetCustomerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerId" />
  </wsdl:message>
  <wsdl:message name="IService2_GetCustomerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IService2_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IService2_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_ModifyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCustomer" />
  </wsdl:message>
  <wsdl:message name="IService2_ModifyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetAllCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomer" />
  </wsdl:message>
  <wsdl:message name="IService2_GetAllCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_LoginCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginCustomer" />
  </wsdl:message>
  <wsdl:message name="IService2_LoginCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_GetCardIdCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardIdCustomer" />
  </wsdl:message>
  <wsdl:message name="IService2_GetCardIdCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardIdCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="GetCustomerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetCustomerId" message="tns:IService2_GetCustomerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetCustomerIdResponse" message="tns:IService2_GetCustomerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/InsertCustomer" message="tns:IService2_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/InsertCustomerResponse" message="tns:IService2_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/DeleteCustomer" message="tns:IService2_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/DeleteCustomerResponse" message="tns:IService2_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/ModifyCustomer" message="tns:IService2_ModifyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/ModifyCustomerResponse" message="tns:IService2_ModifyCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetAllCustomer" message="tns:IService2_GetAllCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetAllCustomerResponse" message="tns:IService2_GetAllCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/LoginCustomer" message="tns:IService2_LoginCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/LoginCustomerResponse" message="tns:IService2_LoginCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardIdCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/GetCardIdCustomer" message="tns:IService2_GetCardIdCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/GetCardIdCustomerResponse" message="tns:IService2_GetCardIdCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerId">
      <soap:operation soapAction="http://tempuri.org/IService2/GetCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/IService2/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IService2/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCustomer">
      <soap:operation soapAction="http://tempuri.org/IService2/ModifyCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomer">
      <soap:operation soapAction="http://tempuri.org/IService2/GetAllCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <soap:operation soapAction="http://tempuri.org/IService2/LoginCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardIdCustomer">
      <soap:operation soapAction="http://tempuri.org/IService2/GetCardIdCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:63800/Implementations/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>