Presentation/Connected Services/Service7_Reference/Service7.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service7" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service7.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service7.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63800/Implementations/Service7.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService7_GetAuditId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditId" />
  </wsdl:message>
  <wsdl:message name="IService7_GetAuditId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService7_InsertAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAudit" />
  </wsdl:message>
  <wsdl:message name="IService7_InsertAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuditResponse" />
  </wsdl:message>
  <wsdl:message name="IService7_DeleteAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAudit" />
  </wsdl:message>
  <wsdl:message name="IService7_DeleteAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuditResponse" />
  </wsdl:message>
  <wsdl:message name="IService7_ModifyAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAudit" />
  </wsdl:message>
  <wsdl:message name="IService7_ModifyAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAuditResponse" />
  </wsdl:message>
  <wsdl:message name="IService7_GetAllAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAudit" />
  </wsdl:message>
  <wsdl:message name="IService7_GetAllAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuditResponse" />
  </wsdl:message>
  <wsdl:portType name="IService7">
    <wsdl:operation name="GetAuditId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService7/GetAuditId" message="tns:IService7_GetAuditId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService7/GetAuditIdResponse" message="tns:IService7_GetAuditId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAudit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService7/InsertAudit" message="tns:IService7_InsertAudit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService7/InsertAuditResponse" message="tns:IService7_InsertAudit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAudit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService7/DeleteAudit" message="tns:IService7_DeleteAudit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService7/DeleteAuditResponse" message="tns:IService7_DeleteAudit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAudit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService7/ModifyAudit" message="tns:IService7_ModifyAudit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService7/ModifyAuditResponse" message="tns:IService7_ModifyAudit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAudit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService7/GetAllAudit" message="tns:IService7_GetAllAudit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService7/GetAllAuditResponse" message="tns:IService7_GetAllAudit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService7" type="tns:IService7">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuditId">
      <soap:operation soapAction="http://tempuri.org/IService7/GetAuditId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAudit">
      <soap:operation soapAction="http://tempuri.org/IService7/InsertAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAudit">
      <soap:operation soapAction="http://tempuri.org/IService7/DeleteAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAudit">
      <soap:operation soapAction="http://tempuri.org/IService7/ModifyAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAudit">
      <soap:operation soapAction="http://tempuri.org/IService7/GetAllAudit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service7">
    <wsdl:port name="BasicHttpBinding_IService7" binding="tns:BasicHttpBinding_IService7">
      <soap:address location="http://localhost:63800/Implementations/Service7.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>