Presentation/Connected Services/Service5_Reference/Service51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Customer" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceType" type="xs:int" />
      <xs:element minOccurs="0" name="Vehicle_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceDTO" nillable="true" type="tns:ServiceDTO" />
  <xs:complexType name="ServiceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="lists" nillable="true" type="tns:ArrayOfServiceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceList" nillable="true" type="tns:ServiceList" />
  <xs:complexType name="ArrayOfServiceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceDTO" nillable="true" type="tns:ServiceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceDTO" nillable="true" type="tns:ArrayOfServiceDTO" />
</xs:schema>